body {

  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);

}

h1 {


  font-weight: 200;


}

h1 span{

   font-weight: 600;

 }

p {
  font-weight: 200;


  color: hsl(229, 6%, 66%);


}



.heads {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1140px;
}

.box {
  background-color: white;
  padding: 30px;
  margin: 15px;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
  border-radius: 5px;
  position: relative;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100px;
}

.box-Blue::after {
  background-color: hsl(212, 86%, 64%);
  width: 100%;
}

.box-Red::after {
  background-color: hsl(0, 78%, 62%);
  width: 100%;
}

.box-Cyan::after {
  background-color: hsl(180, 62%, 55%);
  width: 100%;
}

.box-Orange::after {
  background-color: hsl(34, 97%, 64%);
  width: 100%;
}
           /**BOX SIZES**/

.box-Cyan {

  position: relative;
  top : 140px;
  left: -200px;

}

.box-Red {
  left: -195px;
}

.box-Blue {

  position: relative;
  bottom: 128px;
  left: 590px;
}

.box-Orange {
  left: -195px;
  top: 3px;
}

/** end**/


.box h3 {
 margin: 0;

}

.box img {
 display: block;
 margin-left: auto;

}

.box p {
  font-size: 14px;
  margin: 15px 0 30px;
}
.attribution {
  text-align: center;
}
